 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
section{
    display: flex;
    margin-bottom: 150px;
    margin-left: 10%;
}
.img{
    width: 50%;
}

.header{
    width: 60%;
    padding-top: 14%;


}
.b{
    background-color: rgb(189, 123, 2);
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.mid{
    width: 40%;
}
.header-2{
    width: 50%;
    padding-top: 12%;
}

.uni{
    
    font-size: 40px;
    width: 90%;
    margin-left: 30%;
   
}
.a{
    width: 20%;
}
.bb{
    width: 20%;
}
.c{
    width: 20%;
}
.d{
    width: 20%;
}
.font-1{
    width: 0%;
}
.font{
    width: 70%;
    margin: 5PX;
  padding: 5%;
  color: whitesmoke;

}
.buton{
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(247, 140, 10);
    font-weight: 700;
    color: aliceblue;
   padding: 10px;
  
}
.future{
    width: 40%;
    margin-left: 10%;
}
.future-2{
    width: 40%;
    margin-right: 10%;
    padding-right: 10%;
}
.sub{
    background-color: blue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
    color: antiquewhite;
    padding: 10px;
    background-size: 20px;
}
.unique{
    background-color: rgb(214, 199, 199);
    font-weight: 700;
    padding-right: 10%;
}